@import url(global-var.css);

.cloud, .cloud-outline{
    animation-name: cloud-move;
    animation-duration: var(--animation-duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes cloud-move {
    0% {
        transform: translate(-550px, 0);
    }
    100% {
        transform: translate(400px, 0);
    }
}

.sun {
    animation-name: color-change, spin;
    animation-duration: var(--animation-duration);
    animation-timing-function: linear;
    animation-iteration-count: var(--animation-count);
}

.sun-ring {
    animation-name: spin;
    animation-duration: var(--animation-duration);
    animation-timing-function: linear;
    animation-iteration-count: var(--animation-count);
}

@keyframes color-change {
    0% {
        fill: var(--white);
    }
    50% {
        fill: var(--yellow);
    }
    100% {
        fill: var(--white);
    }
}

@keyframes spin {
    0% {
        transform: rotate(-65deg);
        transform-origin: bottom;
    }
    100% {
        transform: rotate(50deg);
        transform-origin: bottom;
    }
}
