@import url(global-var.css);

footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--grey);
    margin-top: 12px;
    padding: 48px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
}

.top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: 2px solid var(--black);
    border-radius: 50%;
    background-color: var(--yellow);
}
