/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

header {
    font-size: xx-large;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    background-color: rgb(224, 224, 224);
    padding: 10px 40px;
    -ms-flex-line-pack: center;
        align-content: center;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 200;
}

.nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
}

.content {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: white;
    background-image: url("../../resource/img/cn_tower.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 606px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

h1 {
    color: blue;
}

.job-description {
    text-align: left;
}

#me-photo {
    float: left;
    margin: 0 10px 10px 0;
    border-radius: 50%;
    min-width: 256px;
    min-height: 256px;
}

#introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#skills-table {
    clear: both;
}

table th {
    border: 2px solid black;
    padding: 4px 10px;;
}

.grid {
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    display: -ms-grid;
    display: grid;
    gap: 10px;
}

@media only screen and (max-width: 950px) {
    .grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: 28px;
        color: orange;
    }
}

@media only screen and (max-width: 680px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 24px;
        color: red;
    }
}

.grid-item {
    text-align: center;
    padding: 10px;
    min-width: 90%;
    min-height: 100px;
    border: 5px solid grey;
}

.grid-item-img {
    width: 100%;
    max-height: 600px;
    -o-object-fit: contain;
       object-fit: contain;
}

.cloud{
    -webkit-animation-name: cloud-move;
            animation-name: cloud-move;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.cloud-outline{
    -webkit-animation-name: cloud-move;
            animation-name: cloud-move;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes cloud-move {
    0% {
        -webkit-transform: translate(-550px, 0);
                transform: translate(-550px, 0);
    }
    100% {
        -webkit-transform: translate(400px, 0);
                transform: translate(400px, 0);
    }
}

@keyframes cloud-move {
    0% {
        -webkit-transform: translate(-550px, 0);
                transform: translate(-550px, 0);
    }
    100% {
        -webkit-transform: translate(400px, 0);
                transform: translate(400px, 0);
    }
}

.sun {
    -webkit-animation-name: color-change, spin;
            animation-name: color-change, spin;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.sun-ring {
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes color-change {
    0% {
        fill: white;
    }
    50% {
        fill: yellow;
    }
    100% {
        fill: white;
    }
}

@keyframes color-change {
    0% {
        fill: white;
    }
    50% {
        fill: yellow;
    }
    100% {
        fill: white;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(-65deg);
                transform: rotate(-65deg);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
    100% {
        -webkit-transform: rotate(50deg);
                transform: rotate(50deg);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(-65deg);
                transform: rotate(-65deg);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
    100% {
        -webkit-transform: rotate(50deg);
                transform: rotate(50deg);
        -webkit-transform-origin: bottom;
                transform-origin: bottom;
    }
}

footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 48px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
    background-color: rgb(155, 155, 155);
}

.top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: yellow;
}
